@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: 'AvenirNextLTProBold';
    src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

:root { --bg-color: #1F1F29;
    --main-color: #FFF225;
    --sec-color: #00269D; /* or 293556 */ 
    --fg-color: rgba(255, 255, 255, 0.9);
    --bd-color: rgba(255, 255, 255, 0.2);
    
      --default-bg: 
      linear-gradient(322deg, #3668ff, rgba(186, 74, 255, 0) 35%),
      linear-gradient(178deg, #00269D, rgba(0, 138, 255, 0) 70%), 
      linear-gradient(24deg, #3668ff, rgba(0, 255, 198, 0) 70%),
      linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
.footer {
    padding: 4em 40px 0;
    background-color: var(--main-color);

    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.footer-rights {
    padding: 3em 0 .5em;
    background-color: var(--main-color);
    font-size: .8em;
    text-align: center;
}

.footer .all-rights {
    width: 100%;
    height: 30%;
    margin-top: auto; 
    text-align: center;
}
.footer h1 {
    color: var(--sec-color);
    font-weight: 800;
    font-size: 1.2em;
    padding: 2rem 0 0 0;
}
.footer .contact, .footer .products, .footer .connect {
    height: 80%;


}
.footer .contact ul li, .footer .products ul li, .footer .connect ul li {
    font-size: .9em;

    padding: .4em 0;
}
.footer img {
    height: 120px;
}


.footer a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
  
.underline {
    position: relative;
}
  
.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--sec-color);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
  
@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
}




/* Media Query */
/* Media Query */
/* Media Query */

/* Desktops */

@media only screen and (min-width: 900px) {
    .wrap {
        overflow: none;
    }
    .navbar {
        padding: 20px 80px;
    }
    .nav-toggle {
        display: none;
    }
    .nav-header {
        display: block;
    }
    .nav-header img {
        margin-top: 15px;
        width: 150px;
    }
    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        height: auto;
    }


    .nav-link {
        display: inline-block;
        color: black;
        border-bottom: none;
        
    }








    /* CONTENT-1 */
    /* CONTENT-1 */
    /* CONTENT-1 */

    .content-1 img{
        width: 1366px;
        margin: auto;
        display: block;
    }

    .prev, .next {
        padding: 15px;
        font-size: 18px;
    }



    /* CONTENT-2 */
    /* CONTENT-2 */
    /* CONTENT-2 */
    .content-2 img {
        /* width: 1366px; */
        margin: auto;
        display: block;
        padding: 0 80px;
    }


    

    /* Inner page */
    .inner {
        padding: 3em 0 5em;
    }
    .description {
        font-size: 2em;
    }
    .svg {
        width: 50px;
    }
    .cta {
        width: 20%;
        padding: 20px 0;
        font-size: 40px;
    }
    .cta:hover span:nth-child(2) {
        margin: 0 20px;
    }
    .cta span {
        height: 40px;

    }
    .cta span:nth-child(2) {
        top: 8%;
    }
    








    /* CONTENT-4, DEALERSHIP */
    /* CONTENT-4, DEALERSHIP */
    /* CONTENT-4, DEALERSHIP */
    .content-4, .dealership {
        padding: 50px 240px;
    }
    .column img {
        width: 350px;
    }

    .column {
        float: left;
        width: 50%;
        height: 400px; /* Should be removed. Only for demonstration */
        padding: 0 10px;
    }
    .certificate {
        height: 400px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    .text {
        font-size: 1.8em;

    }      
      

    


    



    /* Footer */
    .footer {    
        text-align: justify;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
    .footer h1 {
        font-size: 1.2em;
        padding: 0 0 .5em 0;
    }
    .footer ul li {
        text-align: justify;
        font-size: .9em;
    
        padding: 0 0 .5em 0;
    }
    .footer img {
        height: 150px;
    }
}



header {
  height: 200vh;
}

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;
  
  
  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.container_solid {
  background: white;
  
  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;  
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size: 100vw auto;
  background-position: center;
  
  /* clip the text is possible */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  /* fallback text color */
  color: black;
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size:100vw auto;
  background-position: center;
  background-attachment: fixed;
  
  /* position the second container below the first container */
  top: 100vh;
}

.container_image .title_wrapper h1 {
  color: white;
}

section {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 800px;
}

section h2 {
  font-family: 'Fraunces', serif;
}

section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}



@media only screen and (min-width: 900px) {

    .navbar {
        padding: 20px 80px;
    }
    .nav-toggle {
        display: none;
    }
    .nav-header {
        display: block;
    }
    .nav-header img {
        margin-top: 15px;
        width: 150px;
    }
    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links {
        height: auto;
    }


    .nav-link {
        display: inline-block;
        color: black;
        border-bottom: none;
        
    }




    /* Footer */
    .footer {    
        text-align: justify;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
    .footer h1 {
        font-size: 1.2em;
        padding: 0 0 .5em 0;
    }
    .footer ul li {
        text-align: justify;
        font-size: .9em;
    
        padding: 0 0 .5em 0;
    }
    .footer img {
        height: 150px;
    }
}
